Source: ssh-ident
Maintainer: unknown <unknown@example.org>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 11)
Standards-Version: 4.5.1
Vcs-Git: https://github.com/ssh-ident/ssh-ident1
Vcs-Browser: https://github.com/ssh-ident/ssh-ident1

Package: ssh-ident
Architecture: all
Depends: ${misc:Depends}, python3,
Description: Use different ssh-agent/identities for ssh
 Use this script to start ssh-agents and load ssh keys on demand,
 when they are first needed.
